.nav-bar
{
    display: flex;
    justify-content: space-around;
  line-height: 250%;
    position:fixed;
    bottom: 0;
    background-color: #2d313a;
    color: white;
    width: 100%;
}

.trending-bar,.movies-bar,.series-bar,.search-bar
{
    width: 10%;
    font-size: 3.5vh;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.trending-bar:hover{
    background-color: #424e63;
    cursor: pointer;
}
.movies-bar:hover{
    background-color: #424e63;
    cursor: pointer;
}
.series-bar:hover{
    background-color: #424e63;
    cursor: pointer;
}
.search-bar:hover{
    background-color: #424e63;
    cursor: pointer;
}

@media(max-width)
{
    .trending-bar,.movies-bar,.series-bar,.search-bar{
        width: 20%;
        font-size: 5vh;
    }
}